bcrypt==4.2.1
cryptography==43.0.3
fastapi==0.115.5
gauthuserinfo==1.0.0
matplotlib==3.9.2
opencv-python==4.10.0.84
passlib==1.7.4
pillow==11.0.0
pydantic==2.10.1
PyJWT==2.10.0
PyMySQL==1.1.1
python-decouple==3.8
python-multipart==0.0.17
razorpay==1.4.2
reportlab==4.2.5
requests==2.32.3
roboflow==1.1.49
SQLAlchemy==2.0.36
starlette==0.41.3
supervision==0.25.0
urllib3==2.2.3
uuid==1.30
uvicorn==0.32.1
